<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title><ion-icon size="" style="padding-right: 6%;" name="ellipsis-vertical-outline"></ion-icon><p  style="padding-right: 10%; ">ติดต่อเรา</p></ion-title>
  </ion-toolbar>
</ion-header >




   
<ion-content [fullscreen]="true" style="color:#fff;background-color: #fff;"  >
 
<ion-grid>
  <ion-row> <ion-col>  <ion-label><h1>ช่องทางติดต่อเรา</h1></ion-label>
 </ion-col>


  </ion-row>
</ion-grid>
 
<ion-grid>
  <ion-row> 

 
 <ion-col>  <ion-label><h1>https://www.facebook.com/</h1></ion-label>
  </ion-col>
  </ion-row>
</ion-grid>


  <ion-button style="  margin-left: 6%;
  margin-top: 154%;

  line-height: 500px;
  border-radius: 50%;
  font-size:28px;
  color: #fff;
  text-align: center;
  background-color: red;"  (click)="gotodetail()">กลับหน้าหลัก</ion-button>
</ion-content>
